.git/**
.github/**
.nyc_output/**
.vscode/**
.vscode-test/**
coverage/**
images/**
src/**
test/**
out/test/**
.editorconfig
.eslintrc.json
.gitattributes
.gitignore
.vscodeignore
CODE_OF_CONDUCT.md
CONTRIBUTING.md
DCO
OWNERS
SECURITY.md
tsconfig.json
**/*.ts
**/*.tsx
**/*.vsix
webview-ui
!images/icon.png
!images/dark/**
!images/light/**
!webview-ui/build
