---
name: Pull request

on:
  pull_request:
    branches:
      - main

permissions:
  pull-requests: read

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: macos-latest
            targets: "darwin-x64,darwin-arm64"
          - os: ubuntu-latest
            targets: "linux-x64,linux-arm64"
          - os: windows-latest
            targets: "win32-x64"
      fail-fast: false
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install node 16
        uses: actions/setup-node@v4
        with:
          node-version: '16'
          cache: npm

      - name: Cache vscode-test folder
        uses: actions/cache@v4
        with:
          path: .vscode-test
          key: ${{ runner.os }}-vscode-test-${{ hashFiles('package.json') }}

      - name: Install project modules
        run: npm ci

      - name: Lint project
        run: npm run lint

      - name: Run tests linux
        if: runner.os == 'Linux'
        run: xvfb-run -a npm test

      - name: Run tests non-linux
        if: runner.os != 'Linux'
        run: npm test

      - name: Verify coverage
        run: npm run cov

      - name: Create a VSIX package for targets [ ${{ matrix.targets }} ]
        shell: bash
        run: >
          echo "${{ matrix.targets }}" | tr "," "\n"  |  while read  -r target; do
            npm run vsce:package -- \
              --target ${target} \
              --out ocm-vscode-extension-${target}-dev.vsix
          done
